@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Montserrat:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Open Sans', 'Pretendard', sans-serif;
    color: #fff;
    word-break: keep-all;
    letter-spacing: -0.02em;
}
input,
input::placeholder {
    font-family: 'Open Sans', 'Pretendard', sans-serif;
}

#login {
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0; top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    font-size: 1vw;
    text-align: center;
    transition: 300ms;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
}
#login.hide {
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
}
#login h1 {
    font-size: 5em;
    color: gold;
}
#login h1 + p {
    opacity: 0.8;
    font-size: 1.5em;
}
#login-form div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2em;
}
#login-form input[type="text"] {
    height: 2.25em;
    border: 0;
    border-bottom: 0.1em solid #fff;
    background-color: transparent;
    font-size: 1.5em;
    color: #fff;
}
#login-form input[type="text"]:focus {
    outline: 0;
    border-color: gold;
}
#login-form input[type="submit"] {
    width: 4em;
    height: 2.25em;
    border-radius: 0.2em;
    border-bottom-left-radius: 0;
    border: 0;
    background-color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
#login-form input[type="submit"]:hover {
    background-color: gold;
}
@media screen and (max-width: 768px) {
    #login {
        font-size: 2.5vw;
    }
}
#wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1647163927506-399a13f9f908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 1vw;
}
#wrap::before {
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
@media screen and (max-width: 768px) {
    #wrap {
        font-size: 2vw;
    }
}
#bg-btn {
    opacity: 1;
    position: absolute;
    right: 2em; top: 2em;
    z-index: 10;
    padding: 0.3em 0.7em;
    border: 0;
    background-color: #fff;
    font-size: 0.75em;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
#bg-btn:hover {
    background-color: gold;
}
#bg-btn:active {
    opacity: 0.8;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}
h2 {
    margin-bottom: 2em;
    font-size: 1.5em;
    font-weight: 700;
    color: gold;
}
h2 em {
    display: inline-block;
    position: relative;
    font-weight: 700;
}
#weather {
    font-size: 1em;
    font-weight: 700;
}
#weather .weather_info {
    font-weight: 400;
}
#clock {
    font-size: 8em;
    font-weight: 700;
}
#clock em {
    font-size: 0.5em;
}
#quote {
    opacity: 0.75;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
}
#todo-form {
    margin: 2em auto 0;
    font-size: 2em;
    text-align: left;
}
#todo-form > input {
    padding: 0.5em 0;
    background-color: transparent;
    border: 0;
    border-bottom: 0.075em solid #fff;
    font-size: 0.75em;
    color: #fff;
}
#todo-form > input::placeholder {
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.04em;
    text-align: center;
}
#todo-form > input:focus {
    outline: 0;
    border-color: gold;
}
#todo-list {
    margin-top: 1.5em;
    padding: 0 3em;
    font-size: 1em;
}
#todo-list li {
    display: inline-block;
    margin: 0 1em;
}
#todo-list input[type="checkbox"] {
    opacity: 0;
}
#todo-list label {
    opacity: 1;
    position: relative;
    display: inline-block;
    height: 1.7em;
    padding-left: 2em;
    line-height: 1.7em;
    vertical-align: middle;
    cursor: pointer;
}
#todo-list label:hover {
    opacity: 0.8;
}
#todo-list label::before,
#todo-list label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
#todo-list label::before{
    height: 1em;
    width: 1em;
    border: 0.1em solid;
    left: 0;
    top: 0.25em;
    border-radius: 0.3em;
}
#todo-list label::after {
    height: 0.2em;
    width: 0.5em;
    border-left: 0.1em solid;
    border-bottom: 0.1em solid;
    transform: rotate(-45deg);
    left: 0.3em;
    top: 0.55em;
}
#todo-list input[type="checkbox"] + label::after {
    content: none;
}
#todo-list input[type="checkbox"]:checked + label::after {
    content: "";
}
#todo-list input[type="checkbox"]:checked + label {
    color: gold;
    text-decoration: line-through;
}
#todo-list button {
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.25em;
    border: 0;
    background-color: transparent;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    vertical-align: middle;
    appearance: none;
    transform: translateY(-0.1em);
    cursor: pointer;
}
#todo-list button:hover {
    color: gold;
}